<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Players</title>
</head>
<body>
	<form>
	<p>Name    --| # |--    Team</p>
		<table>
			<tr th:each="currentPlayer : ${my_players}">
		
				<td th:text="${currentPlayer.playerName}" />
				<td th:text="${currentPlayer.playerNumber}" />
				<td th:text="${currentPlayer.playerTeam}" />

				<td><a th:href="@{/edit/{id}(id=${currentPlayer.id})}">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${currentPlayer.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<p><a href="../inputPlayer">Insert Players</a></p>
	<p><a href="../inputTeam">Create New Team</a></p>
	<p><a href="../viewAllTeams">View All Teams</a></p>
</body>
</html>