<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Roster</title>
</head>
<body>
	<p>
		<span th:text="${my_roster.teamName}">:</span>
	</p>
	<form>
		<table>
			<tr>
				<td><a
					th:href="@{/editTeam/{teamName}(teamName=${my_roster.teamName})}">Edit</a></td>
				<td><a
					th:href="@{/deleteTeam/{teamName}(teamName=${my_roster.teamName})}">Delete</a>
			</tr>
			<tr th:each="entry : ${my_roster.alphaMap}">
				<td><span>#</span>
				<td th:text="${entry.key}"></td>
				<td th:text="${entry.value}">
			</tr>
		</table>
	</form>
</body>
</html>